<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ui.TagDetailActivity"
            android:exported="false" />
        <activity android:name=".ui.topic.TopicActivity"
            android:exported="false" />
        <activity android:name=".ui.topic.TopicListActivity"
            android:exported="false" />
        <activity android:name=".ui.topic.TopicSquareActivity"
            android:exported="false" />

    </application>
</manifest>